.image-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
    transition: all 0.2s;
    min-width: 100px;
    height: 40vh;
    min-height: 300px;
    max-height: 500px;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
    display: flex;
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    @media screen and (min-width: 1400px) {
        width: 20%;
    }
    @media screen and (max-width: 992px) {
        width: 33.33%;
    }
    @media screen and (max-width: 768px) {
        width: 50%;
    }
    @media screen and (max-width: 576px) {
        width: 100%;
    }
    img{
        height: 100%;
        object-fit: cover;
        transition: .2s all;
    }
    .info{
        position: absolute;
        bottom: 0;
        padding: 2em;
        width: 100%;
        h3{
            text-align: left;
            margin: 0;
            color:white;
            text-transform: uppercase;
            font-size: 1em;
        }
    }
}