.image-viewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    &.active{
        opacity: 1;
        pointer-events: all;
    }
    .image-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image-inner{
            max-width: 80vw;
            min-height: 200px;
            max-height: 100vh;
            background-color: #111;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 36%);
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
            
            img{
                max-width: 100%;
            }
            .texts{
                position: absolute;
                bottom: 0;
                color: #fff;
                padding: 1em;
            }
            .button{
                position: absolute;
                top: 0;
                color:white;
                z-index: 1000;
                opacity: 0;
                transition: all 0.2s;
                &.close{
                    right: 0;
                }
                &.prev{
                    left: 0;
                    top:50%;
                    transform: translateY(-50%);
                }
                &.next{
                    right: 0;
                    top:50%;
                    transform: translateY(-50%);

                }
            }

            &:hover{
                .button{
                    opacity: 1;
                }
            }
        }
    }
}